In [93]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [94]:
# Importing the City of Cambridge's 5 year fiscal budget plan into a dataframe.  
budget = pd.DataFrame.from_csv('Budget_-_Capital.csv')
budget[:5]

,Department,Project ID,Project Name,Fund,City Location,Latitude,Longitude,Map Location,Regions,Approved Amount
Fiscal Year,,,,,,,,,,
2018-01-01,Public Works,PW17724,Western Avenue Area Infrastructure Renewal Pro...,General Fund,Western Ave. between Green St. and Memorial Dr.,42.365307,-71.105467,"(42.3653071419, -71.1054665432)",NaN,12000000
2019-01-01,Public Works,PW17724,Western Avenue Area Infrastructure Renewal Pro...,General Fund,Western Ave. between Green St. and Memorial Dr.,42.365307,-71.105467,"(42.3653071419, -71.1054665432)",NaN,4000000
2020-01-01,Public Works,PW17724,Western Avenue Area Infrastructure Renewal Pro...,General Fund,Western Ave. between Green St. and Memorial Dr.,42.365307,-71.105467,"(42.3653071419, -71.1054665432)",NaN,3000000
2017-01-01,Public Works,PW17724,Western Avenue Area Infrastructure Renewal Pro...,General Fund,Western Ave. between Green St. and Memorial Dr.,42.365307,-71.105467,"(42.3653071419, -71.1054665432)",NaN,2000000
2018-01-01,Water,WA16531,Watershed Consulting Services,Water Fund,250 Fresh Pond Parkway,42.383459,-71.143632,"(42.3834586389, -71.143632324)",NaN,263000

In [95]:
# Converting Approved Amount type from object to int32, so that I can calculate some stats on the budget.
budget['Approved Amount'] = budget['Approved Amount'].astype(np.int32)

In [96]:
# Creating a new dataframe with just Approved Amount.
budget_total = budget[['Approved Amount']]

In [97]:
budget_total.index

DatetimeIndex(['2018-01-01', '2019-01-01', '2020-01-01', '2017-01-01',
               '2018-01-01', '2019-01-01', '2020-01-01', '2017-01-01',
               '2016-01-01', '2018-01-01',
               ...
               '2016-01-01', '2016-01-01', '2017-01-01', '2016-01-01',
               '2016-01-01', '2018-01-01', '2019-01-01', '2020-01-01',
               '2017-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name=u'Fiscal Year', length=287, freq=None)

In [105]:
# Checking the year index array.
budget_total.index.year[:30]

array([2018, 2019, 2020, 2017, 2018, 2019, 2020, 2017, 2016, 2018, 2019,
       2020, 2017, 2016, 2018, 2019, 2020, 2017, 2016, 2018, 2019, 2020,
       2017, 2016, 2018, 2019, 2020, 2017, 2016, 2018], dtype=int32)

In [99]:
# Assigning a new column called Year to the data by using the index year.
budget_total['Year'] = budget.index.year

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [100]:
budget_total[:5]

             Approved Amount  Year
Fiscal Year
2018-01-01          12000000  2018
2019-01-01           4000000  2019
2020-01-01           3000000  2020
2017-01-01           2000000  2017
2018-01-01            263000  2018

In [101]:
# Grouping by Year.
budget_counts = budget_total.groupby('Year')

# Calculating the budget total for the five year projections.
budget_counts.aggregate(sum)

      Approved Amount
Year
2016         85276290
2017        129438685
2018        103571685
2019         43968355
2020         31370355

In [102]:
# Calculating the median cost for Cambridge's planned projects.
budget_counts.aggregate(np.median)

      Approved Amount
Year
2016           100000
2017           155000
2018           145665
2019           129354
2020           129354

In [103]:
# Calculating the max cost for Cambridge's planned projects.
budget_counts.aggregate(max)

      Approved Amount
Year
2016         25000000
2017         60000000
2018         60000000
2019         10713000
2020          5000000

In [104]:
# Calculating the average cost for Cambridge's planned projects.
budget_counts.aggregate(np.average)

      Approved Amount
Year
2016          1201074
2017          2087720
2018          1917994
2019           845545
2020           653549